<h3>Add New File</h3>
<div class="row">
  <div class="col-sm-4"></div>
  <div *ngIf="currentFile" class="progress">
    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
      attr.aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: progress + '%' }">
      {{ progress }}%
    </div>
  </div>

  <label class="btn btn-default">
    <input type="file" (change)="selectFile($event)" />
  </label>

  <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">
    upload
  </button>

  <div class="alert alert-light" role="alert">{{ message }}</div>

  <div class="card">
    <div class="card-header">List of Files</div>
    <ul class="list-group list-group-flush" *ngFor="let file of fileinfos | async">
      <li class="list-group-item">
        <a href="{{ file.url }}"> {{ file.name }}</a>
      </li>
    </ul>
  </div>
  <div class="col-sm-4"></div>
</div>

<div class="modal" id="mdlSample" [ngStyle]="{'display':mdlSampleIsOpen ? 'block' : 'none', 'opacity':1}">
  class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" style="text-align: center">Update Filesystem</h4>
    </div>
    <div class="card">
      <div class="card-header">List of Headers</div>
      <ul class="list-group list-group-flush" *ngFor="let fileHeader of listOfFileHeaders | async">
        <li class="list-group-item">
          {{ file.urlHeader.headers[0] }}
        </li>
      </ul>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-success" [hidden]="isupdated">Update</button>
      <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="closeModal()">Close</button>

    </div>
  </div>
</div>